fastapi>=0.104.0
uvicorn>=0.24.0
python-dotenv>=1.0.0
requests>=2.31.0
pydantic>=2.4.2
langchain-core>=0.1.0
langfuse>=2.0.0
langchain-community>=0.0.10
langchain-ollama>=0.0.1
langchain-openai>=0.3.32
langchain>=0.0.335
langgraph>=0.2.43
pydevd~=3.3.0
pydevd-pycharm~=252.23892.439
internetarchive~=5.5.0
psycopg[binary]==3.2.9
langchain-postgres==0.0.15
alembic==1.16.4
sqlmodel==0.0.24
dependency-injector>=4.0,<5.0
pytest==8.4.2
charset-normalizer==3.4.4